<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.franc.mapper.MyMbspMapper">

    <select id="getBarCdSeq" resultType="int">
        /** MyMbspMapper.getBarCdSeq */
        VALUES NEXT VALUE FOR MBSP.BAR_CD_SEQ
    </select>

    <insert id="save" parameterType="MyMbspVO">
        /** MyMbspMapper.save */
        INSERT INTO TB_MY_MBSP
        VALUES (
            #{acntId},
            #{mbspId},
            #{status},
            #{totalAccumPoint},
            #{mbspGrdCd},
            NOW(),
            #{withdrawalDate},
            #{barCd}
        )
    </insert>

    <update id="modify" parameterType="MyMbspVO">
        /** MyMbspMapper.modify */
        UPDATE TB_MY_MBSP
        SET
            WITHDRAWAL_DATE = #{withdrawalDate}
            <if test='totalAccumPoint != null'>
                ,TOTAL_ACCUM_POINT = #{totalAccumPoint}
            </if>
            <if test='mbspGrdCd != null and !mbspGrdCd.equals("")'>
                ,MBSP_GRD_CD = #{mbspGrdCd}
            </if>
            <if test='status != null'>
                ,STATUS = #{status}
            </if>
            <if test='barCd != null and !barCd.equals("")'>
                ,BAR_CD = #{barCd}
            </if>
        WHERE ACNT_ID = #{acntId}
        AND MBSP_ID = #{mbspId}
    </update>

    <select id="findById" parameterType="java.util.Map" resultType="MyMbspVO">
        /** MyMbspMapper.findById */
        SELECT A.*
        FROM TB_MY_MBSP A
        WHERE A.ACNT_ID = #{acntId}
        AND A.MBSP_ID = #{mbspId}
    </select>

    <select id="findByBarCd" parameterType="String" resultType="MyMbspVO">
        /** MyMbspMapper.findByBarCd */
        SELECT A.*
        FROM TB_MY_MBSP A
        WHERE A.BAR_CD = #{barCd}
    </select>

</mapper>